body {
    font-family: "Open Sans", sans-serif;
    color: #4d4e4e;
}

body a {
    color: #4d4e4e;
}

h3 {
    color: #c37c35;
}

h4,
h5 {
    color: #c37c35;
}

h6 {
    font-style: italic;
}

p {
    font-size: 1.25rem;
}

aside .panel {
    background: #c37c35;
    border-color: #efc459;
}

article h3,
aside h5 {
    color: #c37c35;
}

.panel>h5,
.panel>p {
    color: #ffffff;
}

.logo {
    width: 200px;
}

.logo-color {
    color: #c37c35;
    font-size: 25px;
    font-weight: bold;
}

.logo-color:hover {
    color: #c37c35;
}

.topline {
    margin-top: 0;
    color: #c37c35;
}

.large-12 p {
    text-align: justify;
}

.button-group li {
    padding-left: 20px;
}

.button-group a {
    color: #c37c35;
}

.recipes {
    font-size: 52px;
    color: #c37c35;
}

.recipe-image {
    width: 100%;
    border: 3px solid #efc459;
}

.panel> :last-child {
    color: #efc459;
}

/*** reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_grid_responsive ***/
.gallery-placeholder {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.inner-col {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.inner-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .inner-col {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .inner-col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}