body {
    font-family: "Open Sans", sans-serif;
    color: #4d4e4e;
}

h3>a {
    color: #c37c35;
}

h4 {
    color: #c37c35;
}

h6 {
    font-style: italic;
}

p {
    font-size: 1.25rem;
}

aside .panel {
    background: #c37c35;
}

.panel>h5,
.panel>p {
    color: #ffffff;
}

.logo {
    width: 200px;
}

.logo-color {
    color: #c37c35;
}

.topline {
    margin-top: 0;
    color: #c37c35;
}

.large-12 p {
    text-align: justify;
}

.button-group li {
    padding-left: 20px;
}

.button-group a {
    color: #c37c35;
}

.recipes {
    font-size: 52px;
    color: #c37c35;
}

.recipe-image {
    width: 100%;
}